<%- include('partials/header') -%>

<main class="container">
    <div class="d-flex flex-column align-items-center
        justify-content-around mt-5 gap-1">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>