<%- include('partials/header') -%>
<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/signup" method="POST" class="signUpForm">
        <h1 class="cardTitle">Sign Up</h1>
        <div class="mb-3">
          <label for="userName" class="form-label fs-3">User Name</label>
          <input
            type="text"
            class="form-control height"
            id="userName"
            name="userName"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fs-3"
            >Email address</label
          >
          <input
            type="email"
            class="form-control height"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
          <div id="emailHelp" class="form-text fw-bold fs-4">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fs-3">Password</label>
          <input
            type="password"
            class="form-control height"
            id="password"
            name="password"
          />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label fs-3"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control height"
            id="confirmPassword"
            name="confirmPassword"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btnD fs-4">Submit</button>
        </div>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
